Challenge-4/challenge 4 node-red export
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f1e1aada.147038","type":"file in","z":"b5d1af96.0416f8","name":"traffic.csv","filename":"/home/user/Desktop/IoT-Challenges/Challenge-4/traffic.csv","format":"utf8","chunk":false,"sendError":false,"x":80,"y":200,"wires":[["1d160cb.1f793f3"]]},{"id":"1d160cb.1f793f3","type":"csv","z":"b5d1af96.0416f8","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","x":90,"y":260,"wires":[["eea96336.5bb098"]]},{"id":"eea96336.5bb098","type":"function","z":"b5d1af96.0416f8","name":"","func":"var mymsg = {\"payload\":{}};\nfor(keys in msg.payload){\n    if(msg.payload[keys].includes(\"Publish Message\")){\n        mymsg.payload[keys] = msg.payload[keys];\n    }    \n}\nreturn mymsg;","outputs":1,"noerr":0,"x":90,"y":320,"wires":[["21aea773.94061"]]},{"id":"ff33d28f.d85e","type":"inject","z":"b5d1af96.0416f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":140,"wires":[["f1e1aada.147038"]]},{"id":"21aea773.94061","type":"switch","z":"b5d1af96.0416f8","name":"Empty checker","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":320,"wires":[[],["4b2f54c4.3c005c"]]},{"id":"4b2f54c4.3c005c","type":"function","z":"b5d1af96.0416f8","name":"","func":"var plc = {\"payload\":{},\"topic\":0};\nvar hydraulic = {\"payload\":{},\"topic\":1};\nfor(var keys in msg.payload){\n    if(msg.payload[keys].match(/\\[factory\\/department1\\/section1\\/plc\\] .+/) || msg.payload[keys].match(/\\[factory\\/department3\\/section3\\/plc\\] .+/)){\n        var hex = msg.payload[keys].split(\"] \")[1];//force conversion\n        var str = '';\n        for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        str.split(',').forEach((field)=>{\n            if(field.split(': ')[0].includes(\"value\"))\n                plc.payload = field.split(': ')[1];\n        });\n    } \n    if(msg.payload[keys].match(/\\[factory\\/department1\\/section1\\/hydraulic_valve\\] .+/) || msg.payload[keys].match(/\\[factory\\/department3\\/section3\\/hydraulic_valve\\] .+/)){\n        var hex = msg.payload[keys].split(\"] \")[1].toString();//force conversion\n        var str = '';\n        for (var i = 0; (i < hex.length && hex.substr(i, 2) !== '00'); i += 2)\n            str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));\n        str.split(',').forEach((field)=>{\n            if(field.split(': ')[0].includes(\"value\"))\n                hydraulic.payload = field.split(': ')[1];\n        });\n    } \n}\nreturn [plc,hydraulic];\n","outputs":2,"noerr":0,"x":390,"y":380,"wires":[["c84a88c9.f6843"],["9903f273.6f2fc8"]]},{"id":"c84a88c9.f6843","type":"switch","z":"b5d1af96.0416f8","name":"Empty checker","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":300,"wires":[[],["8c378140.f083b"]]},{"id":"9903f273.6f2fc8","type":"switch","z":"b5d1af96.0416f8","name":"Empty checker","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":460,"wires":[[],["8c378140.f083b"]]},{"id":"7824b39e.1a5aac","type":"mqtt out","z":"b5d1af96.0416f8","name":"plc mqtt","topic":"channels/1064837/publish/fields/field1/ARR9VK5QXWJYGL4G","qos":"0","retain":"false","broker":"80898da4.c68ed","x":760,"y":300,"wires":[]},{"id":"694cdb98.0e8714","type":"mqtt out","z":"b5d1af96.0416f8","name":"Hydraulic Valve mqtt","topic":"channels/1064837/publish/fields/field2/ARR9VK5QXWJYGL4G","qos":"0","retain":"false","broker":"80898da4.c68ed","x":800,"y":460,"wires":[]},{"id":"8c378140.f083b","type":"delay","z":"b5d1af96.0416f8","name":"Message Limiter","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":380,"wires":[["e1288a71.b7ed88"]]},{"id":"e1288a71.b7ed88","type":"switch","z":"b5d1af96.0416f8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":750,"y":380,"wires":[["7824b39e.1a5aac"],["694cdb98.0e8714"]]},{"id":"80898da4.c68ed","type":"mqtt-broker","z":"","name":"Thingspeak mqtt","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]